.card-body1 {
    background: linear-gradient(180deg, #0AA4FF 18.16%, #495BEF 74.41%);
}
.bienvenue {
    background-image: url(../img/bgaccueil.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.bg-danger {
    height: 20px;
}
