:root{
    --bs-nav-link-color:white;
    --bs-link-color: white;
} 
@font-face {
    font-family: "star jedi";
    src: url(font/Starjedi.ttf);
}
@font-face {
    font-family: "montserrat-regular";
    src: url(font/Montserrat-Regular.ttf);
}
* {
    box-sizing: border-box;
}
.bienvenue {
    background-image: url(../img/bgaccueil.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 , h2 ,h3 {
    font-family: "star jedi", sans-serif;
    color: white;
}
h4 , h5 , h6 {
    font-family: "montserrat-regular", sans-serif;
    color: white;
}
p {
    font-family: "montserrat-regular" , sans-serif;
    color: white;
}

.bg-light {
    background: linear-gradient(90deg, #0AA4FF 18.16%, #495BEF 74.41%);
}

h1 {
    padding-top: 30%;
}